
body {
    background-color: #FFFAFD;
    display: flex;
    justify-content: center;
    background-image: url('./petals1.svg');
    animation: falling-leaves 120s infinite linear;
}

@keyframes falling-leaves {
    0% { background-position: 0 0; }
    100% { background-position: 20% 20%; }
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    max-width: 1000px;
    padding-bottom: 100px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.name-container {
    font-family: 'Playfair Display', serif; 
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 5px;
    line-height: 0.9; 
    text-align: center;
    padding: 10px;

}

.series-container {
    font-family: 'Playfair Display', serif;
    color: #555555; 
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 20px;
    padding: 10px;

}

.year-container {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    background-color: black;
    text-align: center;
    color: #FFFAFD;
    letter-spacing: 20px;
    text-align: center;
    width: 100%;
    border-radius: 100px;
    font-weight: 900;
    padding-bottom: 5px;
}

.performances-container {
    font-family: 'Playfair Display', serif;
    margin-top: 100px;
    text-align: center;
}


.performance-name {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: left;
}

.performance-artists {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.performance-information {
    font-family: 'Lora', serif;
    display: flex;
    margin-top: 20px;

}

.performance-date {
    flex: .5;
    display: flex;
    font-weight: bold;
    font-size: 35px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    padding: 50px;
}

.performance-description {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.performance-repertoire {
    font-family: 'Lora', serif;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
}

.performance-divider {
    margin-top: 75px;
    margin-bottom: 75px;
    border-top: 15px dotted black;
}

.repertoire-info {
    margin: 3px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.first-performance,
.second-performance,
.third-performance,
.forth-performance,
.fifth-performance,
.sixth-performance,
.seventh-performance,
.eighth-performance,
.ninth-performance {
    box-shadow: 0 0 0 rgba(255, 182, 193, 0);
    transition: all 0.75s ease;
    transform: scale(1);
}

.first-performance:hover,
.second-performance:hover,
.third-performance:hover,
.forth-performance:hover,
.fifth-performance:hover,
.sixth-performance:hover,
.seventh-performance:hover,
.eighth-performance:hover,
.ninth-performance:hover {
    background-color: #FFFAFD;
    transform: scale(1.03); 
    box-shadow: 0 10px 30px rgba(255, 182, 193, 0.5);
    animation: pulse 2s infinite;
}
