body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f0f0;
    font-family: 'Roboto', sans-serif;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: #007788;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    transition: all 0.3s ease-in-out;
    background-color: #ff6600;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
}



#red-ball:hover {
    width: 40px;
    height: 40px;
    transform: rotate(360deg);
    background-color: #00ff66;
}


#red-ball {
    transition: all 0.5s ease-in-out;
}